src/hbci.xcodeproj/michael.pbxuser
src/hbci.xcodeproj/michael.perspectivev3
src/hbci.xcodeproj/sts.pbxuser
src/hbci.xcodeproj/sts.perspectivev3
src/hbci.xcodeproj/project.xcworkspace/
src/hbci.xcodeproj/xcuserdata/
src/build/
src/svnrevision.h
src/revision
src/publicversion
src/version
src/webversion
src/hbcitool-GPL-source.tar.gz
src/hbcimenu/prefwindow/fints_institute.h
src/hbcimenu/sicherheit/checksums.h
src/hbcimenu/English.lproj/
src/hbcitool/English.lproj/
hbci-version
Saldomat_*
symbols_*
uncompressed_Saldomat.dmg
Saldomat.dmg